.containers-flex {
    display: flex;
    flex-direction: row;
}

.container-filters {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-right: 20px;
}

app-table {
    flex: 1;
}

.grid-table-wrapper {
    margin-top: 60px;
}
